<div class="container">
<div class="jumbotron text-center">
        <h1>Mean Stack Application</h1>
        <p class="lead">Welcome to Mean Stack Application by <strong>Ahmed Diab</strong></p>
        <p>
            <a class="btn btn-primary" *ngIf="!user" routerLink="/register">Register</a>
            <a class="btn btn-default" *ngIf="!user" routerLink="/login">Login</a>
            <a class="btn btn-info ml-2" *ngIf="user" routerLink="/blog">View Blog</a>
        </p>
    </div>


<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <img src="http://image.flaticon.com/icons/svg/417/417745.svg"  alt="">
            <div class="caption">
                <h3>MongoDB</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatibus eveniet ut, consequuntur officiis natus eos, laborum deserunt sequi culpa consectetur quidem quos repudiandae veniam veritatis tempore eligendi placeat temporibus.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="card">
            <img src="http://image.flaticon.com/icons/svg/417/417746.svg" width="140" height="140" alt="">
            <div class="caption">
                <h3>ExpressJs</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatibus eveniet ut, consequuntur officiis natus eos, laborum deserunt sequi culpa consectetur quidem quos repudiandae veniam veritatis tempore eligendi placeat temporibus.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="card">
            <img src="http://image.flaticon.com/icons/svg/417/417751.svg" width="140" height="140" alt="">
            <div class="caption">
                <h3>Angualr2</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatibus eveniet ut, consequuntur officiis natus eos, laborum deserunt sequi culpa consectetur quidem quos repudiandae veniam veritatis tempore eligendi placeat temporibus.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="card">
            <img src="http://image.flaticon.com/icons/svg/417/417754.svg" width="140" height="140" alt="">
            <div class="caption">
                <h3>NodeJs</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatibus eveniet ut, consequuntur officiis natus eos, laborum deserunt sequi culpa consectetur quidem quos repudiandae veniam veritatis tempore eligendi placeat temporibus.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="card">
            <img src="http://image.flaticon.com/icons/svg/417/417768.svg" width="140" height="140" alt="">
            <div class="caption">
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatibus eveniet ut, consequuntur officiis natus eos, laborum deserunt sequi culpa consectetur quidem quos repudiandae veniam veritatis tempore eligendi placeat temporibus.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="card">
            <img src="http://image.flaticon.com/icons/svg/417/417764.svg" width="140" height="140" alt="">
            <div class="caption">
                <h3>MongoDB</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatibus eveniet ut, consequuntur officiis natus eos, laborum deserunt sequi culpa consectetur quidem quos repudiandae veniam veritatis tempore eligendi placeat temporibus.</p>
            </div>
        </div>
    </div>
</div>

</div>